<div class="box-profile-1">

    <p class="profile-name-2" title="profile name">
        Elpajaro_mono
    </p>

    <p class="ubication-2">
        @elpajaro_mono
    </p>


    <a href="">
        <img src="imagenes/perfil.png" class="profile-photo-2" title="profile">
    </a>

    <P class="og-name">
        Jose Ortiz
    </P>

    <img src="imagenes/email.png" class="email-photo">

    <p class="email-adress">
        elpajaromono@gmail.com
    </p>

    <img src="imagenes/web.png" class="web-photo">

    <p class="web-name">
        soyelpajaro.com
    </p>

    <img src="imagenes/telefono.png" class="telefono-photo">

    <p class="phone-number">
        31889216861
    </p>


</div>

<div class="box-profile-2">

    <p class="profile-name-3" title="profile name">
        uñas_chimbas
    </p>

    <p class="ubication-3">
        @melasuñas
    </p>


    <a href="">
        <img src="imagenes/perfil.png" class="profile-photo-2" title="profile">
    </a>

    <P class="og-name-2">
        Karina Rodelo
    </P>

    <img src="imagenes/email.png" class="email-photo">

    <p class="email-adress">
        melasuñas@gmail.com
    </p>

    <img src="imagenes/web.png" class="web-photo">

    <p class="web-name">
        chimbadeuñas.com
    </p>

    <img src="imagenes/telefono.png" class="telefono-photo">

    <p class="phone-number">
        3120830283
    </p>

</div>

<div class="box-profile-3">

    <p class="profile-name-4" title="profile name">
        Don_pecheches
    </p>

    <p class="ubication-4">
        @mrpecheches
    </p>

    <a href="">
        <img src="imagenes/perfil.png" class="profile-photo-2" title="profile">
    </a>

    <P class="og-name-3">
        Antonio Acevedo
    </P>

    <img src="imagenes/email.png" class="email-photo">

    <p class="email-adress">
        donpecheches@gmail.com
    </p>

    <img src="imagenes/web.png" class="web-photo">

    <p class="web-name">
        mrpecheches.com
    </p>

    <img src="imagenes/telefono.png" class="telefono-photo">

    <p class="phone-number">
        3185263964
    </p>

</div>